/* src/styles/IATrader.css */
.ia-trader-container {
  padding: 2rem;
  background-color: #000;
  color: #ccc;
  font-family: sans-serif;
}
.summary {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.ia-table {
  width: 100%;
  border-collapse: collapse;
}
.ia-table th,
.ia-table td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}
.upcoming-buy {
  background-color: rgba(22, 78, 99, 0.5);
}
.upcoming-sell {
  background-color: rgba(107, 33, 30, 0.5);
}